<ng-container *ngIf="!isLoading; else loading">
  <div class="back-btn">
    <button mat-ripple class="back-btn" [routerLink]="['../list']">
      <span class="icon">
        <i class="fa-solid fa-arrow-left"></i>
      </span>
      <p>Back</p>
    </button>
  </div>
  <div class="container">
    <div class="left-container">
      <div class="card card-accent">
        <div class="student-details">
          <div class="image-container">
            <div class="image">
              <img
                [src]="
                  applicationDetails.student.image
                    ? applicationDetails.student.image
                    : 'assets/images/profile.png'
                "
              />
            </div>
          </div>
          <div class="profile-content">
            <div class="profile-row">
              <p>Name:</p>
              <p>{{ applicationDetails.student.full_name }}</p>
            </div>
            <div class="profile-row">
              <p>Program/Year:</p>
              <p>
                {{ applicationDetails.student.program }}
                {{ applicationDetails.student.year_level }}
              </p>
            </div>
            <div class="profile-row">
              <p>Domain Email:</p>
              <p>
                {{ applicationDetails.student.email + "@gordoncollege.edu.ph" }}
              </p>
            </div>
            <div class="profile-row">
              <p>Contact Number:</p>
              <p>{{ applicationDetails.student.contact_number }}</p>
            </div>
            <div class="profile-row">
              <p>Required Ojt Hours:</p>
              <p>{{ applicationDetails.student.required_hours }} Hrs</p>
            </div>
          </div>

          <h3>Skill Areas</h3>

          <div class="table">
            <div class="table-row">
              <div class="col-md-6">
                <h4>Strong Skills Area</h4>
              </div>
              <div class="col-md-6">
                <h4>Weak Skills Area</h4>
              </div>
            </div>
            <div
              class="table-row"
              *ngFor="let skill of applicationDetails.student.skills"
            >
              <div class="col-md-6">
                <p>{{ skill.strong_skill }}</p>
              </div>
              <div class="col-md-6">
                <p>{{ skill.weak_skill }}</p>
              </div>
            </div>
          </div>

          <!-- padisplay ng technical skills -->
          <ng-container *ngIf="applicationDetails.student.technical_skills">
            <h3>Technical Skills</h3>
            <div class="content">
              <mat-chip-set aria-label="Fish selection" style="padding: 0 20px;">
                <mat-chip
                  disableRipple
                  *ngFor="
                    let skill of applicationDetails.student.technical_skills
                  "
                  >{{ skill }}</mat-chip
                >
              </mat-chip-set>
            </div>
          </ng-container>

          <div class="remarks-section" *ngIf="applicationDetails.status != 3">
            <div class="remarks">
              <p
                [class.warning-text]="
                  applicationDetails.status == 1 ||
                  applicationDetails.status == 2 ||
                  applicationDetails.status == 4
                "
                [class.pending-text]="
                  applicationDetails.status == 0 ||
                  applicationDetails.status == 5 ||
                  applicationDetails.status == 6 ||
                  applicationDetails.status == 7
                "
                [class.success-text]="
                  applicationDetails.status == 3 ||
                  applicationDetails.status == 8
                "
              >
                {{ applicationDetails.status | applicationStatusText }}
                <span
                  class="sub-text"
                  *ngIf="applicationDetails.rejection_remarks"
                  ><br />
                  Reason: {{ applicationDetails.rejection_remarks }}</span
                >
                <span class="sub-text" *ngIf="applicationDetails.department"
                  ><br />
                  Department: {{ applicationDetails.department }}
                </span>
                <span class="sub-text" *ngIf="applicationDetails.task"
                  ><br />
                  Task: {{ applicationDetails.task }}
                </span>
                <span class="sub-text" *ngIf="applicationDetails.start_date"
                  ><br />
                  Start Date: {{ applicationDetails.start_date }}</span
                >
              </p>
            </div>
          </div>

          <div class="button-container">
            <button
              mat-ripple
              (click)="rejectApplication()"
              *ngIf="
                applicationDetails.status == 3 ||
                applicationDetails.status == 6 ||
                applicationDetails.status == 7
              "
              class="warning"
            >
              Decline
            </button>
            <button
              mat-ripple
              (click)="openAcceptModal()"
              *ngIf="applicationDetails.status == 3"
              class="success"
            >
              Accept
            </button>
            <button
              mat-ripple
              (click)="acceptApplication()"
              *ngIf="applicationDetails.status == 7"
              class="success"
            >
              Accept
            </button>
            <button
              mat-ripple
              class="success"
              (click)="forInterview()"
              *ngIf="applicationDetails.status == 6"
            >
              Reschedule
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="right-container">
      <div class="card">
        <div class="upload">
          <div class="upload-content">
            <h4>Documents</h4>

            <div class="files" *ngIf="applicationDetails">
              <div
                class="items"
                *ngFor="let item of applicationDetails.documents"
              >
                <div class="name">
                  <span class="material-symbols-outlined">
                    picture_as_pdf
                  </span>
                  <p>{{ item.file_name }}</p>
                </div>
                <button
                  class="delete"
                  matTooltip="View"
                  [matTooltipShowDelay]="400"
                  (click)="previewDocument(item)"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" *ngIf="comments.length > 0">
        <div class="comment-log">
          <div class="message-container" *ngFor="let comment of comments">
            <div class="profile-container">
              <img
                [src]="
                  comment.image ? comment.image : 'assets/images/profile.png'
                "
              />
            </div>
            <div class="message">
              <!-- <h5 *ngIf="comment.user"> {{ comment.user.first_name }} {{ comment.user.last_name }}</h5> -->
              <h5 *ngIf="comment">
                {{ comment.first_name }} {{ comment.last_name }}
              </h5>
              <p>{{ comment.message }}</p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="card"
        *ngIf="applicationDetails.interview_schedules?.length > 0"
      >
        <div class="scheduledinterview">
          <h4 class="header">
            <i class="fa fa-calendar"></i> Interview Details
          </h4>

          <table class="details-table">
            <thead>
              <tr>
                <th>Schedule</th>
                <th>Location</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let interviewDetails of applicationDetails.interview_schedules
                "
              >
                <td>
                  {{ interviewDetails.date | date : "MMMM d, y" }}
                  {{ formatTime(interviewDetails.time) }}
                </td>
                <td>{{ interviewDetails.location }}</td>
                <!-- <td>{{ interviewDetails.reminder || 'None' }}</td> -->
                <td>
                  {{
                    interviewDetails.status === 0
                      ? "Pending"
                      : interviewDetails.status === 1
                      ? "Rejected"
                      : interviewDetails.status === 2
                      ? "Accepted"
                      : "Unknown"
                  }}
                </td>
                <td>
                  <mat-icon
                    matTooltip="More Details"
                    matTooltipShowDelay="100"
                    style="cursor: pointer"
                    (click)="openScheduleDetailsModal(interviewDetails)"
                    >more_vert</mat-icon
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
