<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div>
    <nav class="sidebar-content">
        <div>
            <div class="profile">
                <div class="logo">
                    <img src="/assets/images/profile.png" alt="Image">
                </div>
                <h3>Vviree Del Monte</h3>
                <p>Supervisor</p>
            </div>
            
            <div class="navigation-links">
                <li class="item" [routerLink]="['profile']" routerLinkActive="router-link-active">
                    <span class="side-link"> 
                        <i class="fa-solid fa-user"></i> Profile
                    </span>
                </li>
                <li class="item" [routerLink]="['student']" routerLinkActive="router-link-active" >
                    <span class="side-link"> 
                        <i class="fa-solid fa-user-group"></i> Student
                    </span>
                </li>
                <li class="item" [routerLink]="['applications']" routerLinkActive="router-link-active" >
                    <span class="side-link"> 
                        <i class="fa-solid fa-file"></i> Applications
                    </span>
                </li>
            </div>
        </div>
        
        <div class="logout">
            <div class="logout-icon" (click)="logout()">
                <i class="fa-solid fa-right-from-bracket" ></i>
            </div>
        </div>
    </nav>

    <div class="body-content">
        <div class="container"> 
            <div class="notif">
                <i class="fa-solid fa-bell"></i>
            </div> 
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
