<main>
    <mat-sidenav-container class="main-container">
        <!-- 
            
            [fixedTopGap]="options.value.top"
            [fixedBottomGap]="options.value.bottom" -->
        <mat-sidenav #sidenav class="sidebar-container"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [opened]="!mobileQuery.matches">
        <nav class="sidebar-content">
            <div>
                <div class="profile">
                    <div class="logo">
                        <img [src]="(user.industry_partner.image) ? user.industry_partner.image : 'assets/images/LOGO.png'" alt="Image">
                    </div>
                    <h3>{{ user.industry_partner.immediate_supervisor.full_name }}</h3>
                    <p>{{ user.industry_partner.supervisor_position }}</p>
                </div>
                
                <div class="navigation-links">
                    <li class="item" [routerLink]="['profile']" routerLinkActive="router-link-active">
                        <span class="side-link"> 
                            <i class="fa-solid fa-user"></i> Profile
                        </span>
                    </li>
                    <li class="item" [routerLink]="['student']" routerLinkActive="router-link-active" >
                        <span class="side-link"> 
                            <i class="fa-solid fa-user-group"></i> Students
                        </span>
                    </li>
                    <li class="item" [routerLink]="['applications']" routerLinkActive="router-link-active" >
                        <span class="side-link"> 
                            <i class="fa-solid fa-file"></i> Applications
                        </span>
                    </li>
                    <li class="item" [routerLink]="['settings']" routerLinkActive="router-link-active" >
                        <span class="side-link"> 
                            <i class="fa-solid fa-gear"></i> Settings
                        </span>
                    </li>
                </div>
            </div>
            
            <div class="logout">
                <div class="logout-icon" (click)="logout()">
                    <i class="fa-solid fa-right-from-bracket" ></i>
                </div>
            </div>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content class="body-content">
        <div class="container">
             <div class="header" [class.hide]="hideHeader">
                <div>
                    <button mat-icon-button *ngIf="mobileQuery.matches" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
                </div>
                <div class="date-time-display">
                    <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
                    <span class="date-time" id="dateTime"></span>
                </div>
             </div>
             <div class="outlet" #bodyContent (scroll)="onScroll($event)" [class.full]="hideHeader">
                <router-outlet></router-outlet>
             </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</main>