.container {
  margin: 20px 15px;
  height: fit-content;
  padding: 30px;
  border-radius: 30px;
  background: white;
  border: 1px solid var(--primary-color);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1)

}

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;

    .info-image {
      display: flex;
      justify-content: center ;
      flex: 1;
      flex-basis: 20%;

      img {
        border: 6px solid var(--secondary-color);
        margin: 0 10px;
        object-fit: cover;
        width: 180px;
        height: 180px;
      }

    }

    .info-content {
        flex: 1;
        flex-basis: 70%;
        padding: 10px;
        overflow-x: auto;
        
        table {
          width: 100%;
          border: 1px solid rgba(0, 0, 0, .12);
          border-width: 1px;
          border-collapse: collapse;

          p {
            padding: 8px;
            margin: 0;
          }
          
          td:first-child {
            border-right: 1px solid rgba(0, 0, 0, .12);
            font-weight: 500;
          }

          tr td:first-child {
            width: 25%;
          }

          tr td:nth-child(2) {
            width: 75%;
          }

          tr:not(:last-child) td {
            border-bottom: 1px solid rgba(0, 0, 0, .12);
          }
        }
    }
}

.info-container {
    display: flex;
    width: 100%;
    flex-direction: column;

    mat-label {
        font-size: 14px;
    }

    input {
        font-size: 14px;
    }


    .content {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        
        h3 {
            font-size: 22px;
            color: var(--primary-color);
            margin-bottom: 20px;
        
        }
        
        p {
          padding: 0 10px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin: 2px 0px;
            padding-left: 5px;
        }
    }
}

.table-container {
  width: 100%; 
  padding: 5px 10px;

  .table {
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
  
    .table-row {
      min-height: 40px;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    
    .table-row:last-child {
      border-bottom: none;
    }
  
    h4 {
      font-size: 14px;
      font-weight: 600;
    }
    
    p, h4 {
      font-family: poppins;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding: 8px 10px;
    }
  }
}

mat-form-field {
    width: 100%;
}

