<div class="header">
  <h2 mat-dialog-title>OJT Information</h2>
  <i class="fa-solid fa-x" (click)="closeDialog()"></i>
</div>

<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput type="date" [(ngModel)]="ojtInfo.startDate" name="startDate">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Department</mat-label>
      <input matInput placeholder="Enter Department" [(ngModel)]="ojtInfo.department" name="department">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Task</mat-label>
      <textarea matInput placeholder="Enter Task" [(ngModel)]="ojtInfo.task" name="task"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="submit()">Submit</button>
</mat-dialog-actions>
