.card,
.mou-card {
  margin: 40px 10px;
  padding: 20px 30px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid var(--primary-color);
  height: fit-content;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  color: var(--primary-color);
  font-size: 22px;
  transform: translateX(-5px);
  margin-bottom: 10px;
}

.company-logo {
  display: flex;
  flex-direction: column;
  padding: 0 5px 20px 5px;
  gap: 4px;
  border-bottom: var(--border-color) 1px solid;
  margin-bottom: 20px;

  img {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
    object-fit: cover;
    // border: 1px solid var(--primary-color);
  }

  button {
    border-color: var(--primary-color);
    color: var(--primary-color);
    width: fit-content;
  }
}


.skill-requirement-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: translateY(-8px);

  mat-icon {
    cursor: pointer;
    flex: 1;
    text-align: center;
    height: 30px;
    min-width: 20px;
  }
}

.card-action-button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  padding: 5px;

}

.button {
  font-size: 15px;
  border: none;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #ffffff;
  padding: 6px 20px;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: var(--primary-color);
    background-color: #ffffff;
  }

  &.invalid {
    // border: 1px solid #999999;
    border-color: #eeeeee;
    background-color: #bbbbbb;
    color: white;
  }

  &.invalid:hover {
    border-color: #eeeeee;
    background-color: #bbbbbb;
    color: white;
  }
}

.mou-card {
  p {
    margin-bottom: 13px;
  }

  
  .note {
    font-size: 12px;
    color: red;
  }

  .mou-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;

    button {
      font-size: 15px;
      border: none;
      background-color: var(--secondary-color);
      border: 2px solid var(--secondary-color);
      color: #ffffff;
      padding: 6px 20px;
      width: fit-content;
      border-radius: 20px;
      cursor: pointer;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }

    button:hover {
      background-color: transparent;
      color: var(--secondary-color);
    }
  }
}
